.finpassword {}

.finpassword li {
    padding: 0 15rem;
    border: 1px solid rgb(212, 212, 212);
    height: 50rem;
    line-height: 50rem;
    font-size: 14rem;
}

.finpassword li:nth-of-type(1) p span {
    font-size: 14rem;
    font-weight: 600;
}

.sj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fsyz {
    height: 32rem;
    line-height: 32rem;
    padding: 0 10rem;
    border: 1px solid #999;
    color: #999;
}

.finpassword li input {
    font-size: 14rem;
    border: none;
    outline: none;
}

button {
    display: block;
    width: 93%;
    height: 50rem;
    margin: 20rem auto;
    border: none;
    background-color: #FF8A00;
    color: #fff;
    font-weight: 600;
    font-size: 20rem;
}



.ljzcwjmm {
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 14rem;
}

.ljzcwjmm a:nth-of-type(1) {
    color: #FF8A00;
}

.ljzcwjmm a:nth-of-type(2) {
    color: #5c5c5c;
}

.bo {
    display: flex;
    align-items: center;
    height: 50rem;
}

.bo>p {
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 16rem;
    border-bottom: 5px solid #999;
    line-height: 50rem;
}

.bo>.bo1 {
    border-bottom: 5px solid #FF8A00;
}