
.nav{
    width: 100%;
    background: #F5F5F5;

}
nav>.head{
    width: 100%;
    display: flex;      
    height: 42rem; 
    border-bottom: 1px solid #ccc;
}
nav>.head>p{
    height: 42rem;
    line-height: 42rem;
    font-size: 14rem;
    font-weight: 600;
    text-indent: 13rem;
}

nav>.head>p>span{
    font-size: 14rem;
    font-weight: 400;
}


.centex{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: #F5F5F5;
}

.main{
  width: 90%;
  height: 120rem;
   margin: 0 auto;
   /* background: yellowgreen;      */
   display: flex;
   align-items: center;
   padding: 20rem 0rem;
   border-bottom: 1px solid #ff8a00 ;

}
/*最后一个没有下划线 */
.main:last-of-type{
  border-bottom: none;
}

.main>img{
   width: 94rem;
   height: 94rem;
   flex:1;
  
}

.main>.rightDiv{
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10rem;
  font-size: 14rem;
}

.main>.rightDiv>h2{
  font-size: 16rem;
}

.price{
  width: 100%;
  display: flex;   
  justify-content: flex-start; 
}

.price>span{
  /* width: 70rem; */
  height: 25rem;

  text-align: left;
  line-height: 25rem;
  padding: 0 5rem;
  margin-right: 60rem;
}

strong{
  color: #ff8a00;
  margin-left: 30rem;
}