

  body{
    background: #F5F5F5;
  }
.nav{
    width: 100%;
    background: #F5F5F5;

}
nav>.head{
    width: 100%;
    display: flex;      
    height: 45rem; 
    border-bottom: 1px solid #ccc;
}
nav>.head>p{
    height: 43rem;
    line-height: 43rem;
    font-size: 14rem;
    font-weight: 600;
    text-indent: 13rem;
}

nav>.head>p>span{
    font-size: 14rem;
    font-weight: 400;
}

main{
    width: 100%;
    display: flex;
    justify-content: center ;
    flex-direction: column;
}

main>.head{
       width: 100%;
       height: 170rem;
       display: flex;
       justify-content:center;
       align-items: center;
       margin: 0 auto;
       background: url(../img/my/bg2.png) no-repeat;
       background-size: cover;

}
.head>.box>img{
    width: 60rem;
    height:  60rem; 
}

.box{
    width: 200rem;
   height: 170rem;;
     display: flex;
     justify-content: space-evenly    ;
     align-items:center;
     flex-direction: column;
     padding-right: 20rem;
}
 .box>p{
       
     margin-top: 10rem;
     font-size: 14rem   ;
     color: white;
 
 }


 /* -------------------footer--------- */


 .listul{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
   
}

.listul>li{
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    line-height: 50rem;
    border-bottom: 1px solid #dcdcdc ;
    background: #FFFFFF;
}


.listul>li>p{
    width: 150rem;
    text-indent: 25rem;
    font-size: 14rem;
    color: #666666;
   
}


.listul>li>span{
   width: 30rem;
   text-indent: 20rem;
   background: url(../img/my/right.png) no-repeat 1rem;
   background-size: 10rem;     
}

.listul>.lis4{
width: 90%;
height: 45rem;
 margin: 40rem auto;
  border:  1px solid #dcdcdc;
  text-align: center;
  line-height: 40rem;
  display: flex;
  justify-content: center;
  
 
}

.listul>.lis4>a{
    color: #ff8a00;
    font-size: 14rem;
}